---
title: Massage-On-Demand for iOS
---
<div id="content">
  <%= image_tag 'ui/logo.svg', id: 'logo' %>
  <div id="sentence">
    get a <span class="dnm" id="duration" data-lines="1-hour, 90-min">45-min</span> <span class="dnm" id="type" data-lines="Thai, Shiatsu, Swedish">Javanese</span> massage by a <span class="dnm" id="gender" data-lines="male">female</span> therapist at your <span class="dnm" id="location" data-lines="home">office</span>.
  </div>
  <div id="email">
    <p>Coming soon to your app store. We’ll text you when we launch.</p>
    <form id="subscribe-form" action="http://aen.createsend.com/t/r/s/iysyuy/" method="post">
      <input id="fieldEmail" name="cm-iysyuy-iysyuy" type="hidden" required="required">
      <input id="fieldtjtujyr" name="cm-f-tjtujyr" type="text" required="required" placeholder="Your Mobile Number">
      <button id="subscribe-button" type="submit">Subscribe</button>
    </form>
    <div id="result">.</div>
  </div>
</div>